<div class="jumbotron text-center">
  <h1>РЕДАКТИРОВАТЬ ПРОФИЛЯ</h1>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQk8b9NKY-JtUtNux0YEiwhdlLtpXDNWiTKhYJwDSjh27etW_jC6A"
             alt="Card image" style="width:100%">
      </div>
      <div class="row">
        <div class=" text-center col-sm-12">

          <button class="icon btn btn-link">  <i class="fi material-icons">camera_alt</i><b style="color: #3fb8af">Изменить фото</b></button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">

        <div class="card-header"><b>Личний информация</b></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4"><b>Фамиля:</b><span style="color: red">&nbsp;*</span></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4"><b>Имя:</b><span style="color: red">&nbsp;*</span> </div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>Отчетво:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>Дата рождения:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>Пол:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>E-mail:</b><span style="color: red">&nbsp;*</span></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>Номер телефона:</b><span style="color: red">&nbsp;*</span></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-sm-4"><b>Страна:</b><span style="color: red">&nbsp;*</span></div>
            <div class="col-sm-8">
              <div class="form-group">

                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4"><b>Город:</b><span style="color: red">&nbsp;*</span></div>
            <div class="col-sm-8">
              <div class="form-group">

                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>О себе:</b></div>
            <div class="col-sm-8">
              <div class="form-group">
                <textarea type="text" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-12"></div>


    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <div class="card">

        <div class="card-header"><b>Образование и  опыт</b></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4"><b>Языки мероприятий:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4"><b>Опыт проведения мероприятей:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4"><b>Оброзвание:</b></div>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>Документы об образовании: </b></div>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>

    <div class="col-sm-12"></div>

    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <div class="card">

        <div class="card-header"><b>Паспорт</b></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <form id="zdrop1" class="fileuploader center-align col-sm-12">
                <div class="upload-label text-center" style="width: 200px;">
                  <i class="fotoIc material-icons">camera_alt</i>
                </div>
                <p class="hint"> Вы можете перетащить фото сюда</p>
                <p class="hint"> или</p>
                <div class="col text-center">
                  <input type="button" class="btn btn-white col-sm-12 form-control" value="ВЫБЕРИТЕ ФАЙЛ">
                </div>
              </form>

            </div>
            <div class="col-sm-6">
              <form id="zdrop2" class="fileuploader center-align col-sm-12">
                <div class="upload-label text-center " style="width: 200px;margin: auto">
                  <i class="fotoIc material-icons">camera_alt</i>
                </div>
                <p class="hint"> Вы можете перетащить фото сюда</p>
                <p class="hint"> или</p>
                <div class="col text-center">
                  <input type="button" class="btn btn-white col-sm-12 form-control" value="ВЫБЕРИТЕ ФАЙЛ">
                </div>
              </form>
            </div>
          </div>




          <div class="row mt-2">
            <div class="col-sm-4"><b>Серия и  номер  поспорта:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>Дата выдачи:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>Страна выдачи:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-sm-4"><b>Город выдачи:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>Кем выдан:</b></div>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12"></div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <div class="card">

        <div class="card-header">Раквизиты и  ИИН: </div>
        <div class="card-body">


          <div class="row mt-2">
            <div class="col-sm-4"><b>Раквизиты:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4"><b>ИИН:</b></div>
            <div class="col-sm-8">
              <div class="form-group">

                <input type="text" class="form-control">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col-sm-12"></div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <div class="text-center">
        <div class="saveFile" style="background-color: #3fb8af;color: white">СОХРАНИТЬ ПРОФИЛЬ</div>
      </div>

    </div>
  </div>
</div>


