<div class="container">
	<div class="row">
		<div class="breadcrumbs  hidden-sm-down mt-2">
	    	<ul class="mb-0">
		        <li><a routerLink="/">Главная</a></li>
		        <li><a>Финансы</a></li>
	    	</ul>
    	</div>
	</div>

	<div class="row">
		<div class="col mt-lg-5 mt-md-5">
      		<h2>Финансы</h2>
    	</div>
	</div>

	<div class="row">
		<div class="col-12 col-lg-8 mt-4">
			<div class="row mt-3">
        <div class="d-inline-block mr-2 mb-2 right-filters filters d-flex">
          <div class=" sortBy d-flex align-items-center justify-content-end flex-column-sm">
            <span class="sort-desc">Сортировать</span>
            <div class="btn-group-toggle">
              <div ngbDropdown class="d-inline-block filterBy ml-1" #filterItem="ngbDropdown">
                <button class="btn btn-outline-primary" id="ftr1" ngbDropdownToggle>{{ftrlAsc || "По дате ↓"}}</button>
                <div ngbDropdownMenu aria-labelledby="ftr1">
                  <div class="item col-12 mb-2" (click)="ftrlAsc = $event.target.innerText">По дате ↓</div>
                  <div class="item col-12 mb-2" (click)="ftrlAsc = $event.target.innerText">По отзывам</div>
                  <div class="item col-12 mb-2" (click)="ftrlAsc = $event.target.innerText">По новизне</div>
                  <div class="item col-12 mb-2" (click)="ftrlAsc = $event.target.innerText">По цене</div>
                </div>
              </div>
            </div>
          </div>

          <div class=" sortBy d-flex align-items-center justify-content-end flex-column-sm ml-3">
            <span class="sort-desc">Показывать</span>
            <div class="btn-group-toggle">
              <div ngbDropdown class="d-inline-block filterBy ml-1" #filterItem="ngbDropdown">
                <button class="btn btn-outline-primary" id="ftr2" ngbDropdownToggle>{{ftrlBy || "Все финансовые операции"}}</button>
                <div ngbDropdownMenu aria-labelledby="ftr2">
                  <div class="item col-12 mb-2" (click)="ftrlBy = $event.target.innerText">Все финансовые операции</div>
                  <div class="item col-12 mb-2" (click)="ftrlBy = $event.target.innerText">Все финансовые операции1</div>
                  <div class="item col-12 mb-2" (click)="ftrlBy = $event.target.innerText">Все финансовые операции2</div>
                  <div class="item col-12 mb-2" (click)="ftrlBy = $event.target.innerText">Все финансовые операции3</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
		<div class="col-12 col-lg-4 mt-md-4 text-center-xs">
			<div class="balanceDiv mt-3">
				<span>
					Ваш баланс: <span class="pl-3"><b> 5500 &#8381; </b></span>
				</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="mt-5 table-responsive-md w-100">
			<table class="r-table table spacing-table">
			  	<thead class="theadborder">
			    	<tr id="theadtr">
			      		<th scope="col">Дата</th>
			      		<th scope="col">Сумма</th>
			      		<th scope="col">Способ оплаты</th>
			      		<th scope="col">Назначение</th>
			    	</tr>
			  	</thead>
			  	<tbody>
			    	<tr>
			      		<td data-label="Дата">13 Февраля 2018</td>
			      		<td data-label="Сумма" class="redtd">-5 000 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Оплата мероприятия &nbsp <a href="#">«Огни большог города»</a></td>
			    	</tr>
			    	<tr>
			      		<td data-label="Дата">11 Февраля 2018</td>
			      		<td data-label="Сумма" class="redtd">-2 000 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Оплата мероприятия  <a href="#">«Экскурсия по Москве»</a></td>
			   		</tr>
			    	<tr>
			      		<td data-label="Дата">08 Февраля 2018</td>
			      		<td data-label="Сумма" class="bluetd">+500 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Пополнение личного счета</td>
			   		</tr>
			   		<tr>
			      		<td data-label="Дата">05 Февраля 2018</td>
			      		<td data-label="Сумма" class="redtd">-1 000 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Оплата дополнительных услуг гида</td>
			   		</tr>
			   		<tr>
			      		<td data-label="Дата">02 Февраля 2018</td>
			      		<td data-label="Сумма" class="bluetd">+5 000 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Пополнение личного счета</td>
			   		</tr>
			   		<tr>
			      		<td data-label="Дата">29 января 2018</td>
			      		<td data-label="Сумма" class="redtd">-5 000 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Оплата мероприятия  <a href="#">«Огни большого города»</a></td>
			   		</tr>
			   		<tr>
			      		<td data-label="Дата">25 января 2018</td>
			      		<td data-label="Сумма" class="redtd">-2 000 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Оплата мероприятия  <a href="#">«Экскурсия по Москве»</a></td>
			   		</tr>
			   		<tr>
			      		<td data-label="Дата">08 Февраля 2018</td>
			      		<td data-label="Сумма" class="bluetd">+500 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Пополнение личного счета</td>
			   		</tr>
			   		<tr>
			      		<td data-label="Дата">05 Февраля 2018</td>
			      		<td data-label="Сумма" class="redtd">-1 000 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Оплата дополнительных услуг гида</td>
			   		</tr>
			   		<tr>
			      		<td data-label="Дата">02 Февраля 2018</td>
			      		<td data-label="Сумма" class="bluetd">+5 000 &#8381;</td>
			      		<td data-label="Способ оплаты">Банковская карта</td>
			      		<td data-label="Назначение">Пополнение личного счета</td>
			   		</tr>
			  	</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 show-more more">
      		<button type="button" class="show-more-btn morebtn">Показать еще</button>
    	</div>
	</div>
</div>
