.white {
    color: #fff;
    border-color: #fff;
}

.white:hover {
    background-color: #fff;
    border-color: #ffffff !important;
    color: #53bcb2;
}

.white:active{
    background-color: transparent !important;
    border-color: #fff !important;
}

.white:focus {
    box-shadow: none;
}

.bottom{
    padding-bottom: 15px;
}

.text-color{
    color: #757575;
}

figure.item.item-event figcaption{
    top: 10%;
}

.btn-blue {
    background-color: #53bcb2;
    border: none;
    line-height: 2.3;
    font-size: 10pt;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    width: 180px;
    font-weight: bold;
}

.btn-blue:hover {
    background-color: #4aa89f !important;
    box-shadow: 0 0 0 0.2rem rgba(88, 188, 179, 0.5);
}

.btn-blue:focus,
.btn-blue:active {
    box-shadow: 0 0 0 0.2rem rgba(88, 188, 179, 0.5);
    background-color: #3b857e !important;
}
.form-control {
  font-size: 0.8rem;
  line-height: 2;
}
.btn-w {
    width: 250px;
}

.breadcrumbs {
    margin-top: 30px;
}


@media (max-width: 1200px){
    .white {
        font-size: 13px;
    }

    .slide-title{
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .white {
        font-size: 15px;
    }
    .slide-title{
        font-size: 15px;
    }
    figcaption button {
      box-sizing: padding-box;
      transition: all 0.2s ease-out;
      font-size: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .white {
        font-size: 12px;
    }
    .slide-title{
        font-size: 15px;
    }

}
