<div class="container mt-5 add-ev">
  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Язик</b><span style="color: red">&nbsp;*</span></div>
    <div class="col-sm-8" style="background-color:white;">
      <div class="btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-2 active">
          <input ngbButton type="radio" value="ru" [value]="1"> Русский
        </label>
        <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-2">
          <input ngbButton type="radio" value="en"> Английский
        </label>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b> Название мероприятия:</b></div>
    <div class="col-sm-8" style="background-color:white;">
      <div class="form-group">
        <input type="text" style="background-color: white;color: #3fb8af"
               placeholder=" Ввадите название мероприятия по русском язике" class=" form-control">
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b> Что входит в стоимость:</b></div>
    <div class="col-sm-8" style="background-color:white;">
      <div class="form-group">

        <textarea type="text" style="background-color: white;color: #3fb8af"
                  placeholder=" Описание   мероприятия,не более 600 символов" class=" form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Продлжителность:</b></div>
    <div class="col-sm-8" style="background-color:white;">
      <div class="form-group">
        <input type="text" style="background-color: white;color: #3fb8af"
               placeholder=" Укажите продлжителность мероприятия " class=" form-control">
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-5">
    <div class="col-sm-4" style="background-color:white;"><b>Частное мероприятие:</b></div>
    <div class="col-sm-8" style="background-color:white;">
      <div class="toggle-group">
        <input type="checkbox" name="on-off-switch" id="switch1" checked="" tabindex="1">
        <label for="switch1"></label>
        <div class="onoffswitch" aria-hidden="true">
          <div class="onoffswitch-label">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">Максималное количество участников частное экскурсии<span
      style="color: red">&nbsp;*</span></div>
    <div class="col-sm-3">
      <div class="form-group select-caret">
        <select class="form-control">
          <option>7</option>
          <option>6</option>
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>3</option>
          <option>1</option>
        </select>
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">Стоимость частной экскурсии за челавека<span style="color: red">&nbsp;*</span></div>
    <div class="col-sm-3">
      <div class="form-group">
        <input class="form-control">
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-5">
    <div class="col-sm-4" style="background-color:white;"><b>Груповое мероприятие:</b></div>

    <div class="col-sm-8" style="background-color:white;">
      <div class="toggle-group">
        <input type="checkbox" name="on-off-switch" id="switch2" checked="" tabindex="1">
        <label for="switch2"></label>
        <div class="onoffswitch" aria-hidden="true">
          <div class="onoffswitch-label">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">Минималное количество участников Груповое экскурсии<span
      style="color: red">&nbsp;*</span></div>
    <div class="col-sm-3">
      <div class="form-group select-caret">
        <select class="form-control" id="sel1">
          <option>8</option>
          <option>7</option>
          <option>6</option>
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>3</option>
          <option>1</option>
        </select>
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">Максималное количество участников Груповое экскурсии<span
      style="color: red">&nbsp;*</span>
    </div>
    <div class="col-sm-3">
      <div class="form-group select-caret">
        <select class="form-control">
          <option>14</option>
          <option>13</option>
          <option>12</option>
          <option>11</option>
          <option>10</option>
          <option>9</option>
          <option>8</option>
          <option>7</option>
          <option>6</option>
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>3</option>
          <option>1</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">
      Количество дополнителний места групавой экскурсии<span style="color: red">&nbsp;*</span>
    </div>
    <div class="col-sm-3">
      <div class="form-group select-caret">
        <select class="form-control">
          <option>7</option>
          <option>6</option>
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>3</option>
          <option>1</option>
        </select>
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">Стоимость групавой экскурсии <span style="color: red">&nbsp;*</span></div>
    <div class="col-sm-3">
      <div class="form-group">
        <input class="form-control">
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">Стоимость дополнителний места экскурсии <span style="color: red">&nbsp;*</span></div>
    <div class="col-sm-3">
      <div class="form-group">
        <input class="form-control">
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-5">
    <div class="col-sm-4" style="background-color:white;"><b>Сборное мероприятие:</b></div>

    <div class="col-sm-8" style="background-color:white;">
      <div class="toggle-group">
        <input type="checkbox" name="on-off-switch" id="switch3" checked="" tabindex="1">
        <label for="switch3"></label>
        <div class="onoffswitch" aria-hidden="true">
          <div class="onoffswitch-label">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">Максималное количество участников сборное экскурсии<span
      style="color: red">&nbsp;*</span></div>
    <div class="col-sm-3">
      <div class="form-group select-caret">
        <select class="form-control">
          <option>7</option>
          <option>6</option>
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>3</option>
          <option>1</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">Стоимость сборное экскурсии за челавека<span style="color: red">&nbsp;*</span></div>
    <div class="col-sm-3">
      <div class="form-group">
        <input class="form-control">
      </div>
    </div>
  </div>



  <div class="row mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Дополнительные услуги:</b></div>
    <div class="col-sm-8" style="background-color:white;">

      <div class="grey-line">
        <div class="row d-flex">
          <div class="col-lg-9"><span>Переводчик</span></div>
          <div class="col-lg-3 float-right">
            <div class="text-right">
              <span class="ruble">5 000</span>
              <a href="javascript:void(0)"><i class="ic material-icons ml-2">mode_edit</i></a>
              <a href="javascript:void(0)"><i class="close  material-icons ml-1">highlight_off</i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="grey-line">
        <div class="row d-flex">
          <div class="col-lg-9"><span>Шопингконсултант</span></div>
          <div class="col-lg-3 float-right">
            <div class="text-right">
              <span class="ruble">2 000</span>
              <a href="javascript:void(0)"><i class="ic material-icons ml-2">mode_edit</i></a>
              <a href="javascript:void(0)"><i class="close  material-icons ml-1">highlight_off</i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="grey-line">
        <div class="row d-flex">
          <div class="col-lg-9"><span>Услуги фотографа</span></div>
          <div class="col-lg-3 float-right">
            <div class="text-right">
              <span class="ruble">1 000</span>
              <a href="javascript:void(0)"><i class="ic material-icons ml-2">mode_edit</i></a>
              <a href="javascript:void(0)"><i class="close  material-icons ml-1">highlight_off</i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-2">
    <div class="col-sm-4" style="background-color:white;"><b></b></div>
    <div class="col-sm-8" style="background-color:white;">
      <a class="d-flex align-items-center add-attr" href="javascript:void(0)">
        <i class="plusIcon"></i>
        <u class="ml-2">Добавить дополнителную услугу</u>
      </a>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-5">
    <div class="col-sm-4" style="background-color:white;"><b></b></div>
    <div class="col-sm-8" style="background-color:white;">

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inp11"><b>Нозвание:</b></label>
              <input type="text" class="form-control" id="inp11">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inp22"><b>Стоимость:</b></label>
              <input type="text" class="form-control" id="inp22">
            </div>

          </div>
        </div>


    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Тематика:</b></div>
    <div class="col-sm-8" style="background-color:white;">
      <div class="btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-2 active">
          <input ngbButton type="radio" value="tem1" [value]="1">Обзорная экскурсия
        </label>
        <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-2">
          <input ngbButton type="radio" value="tem2"> Тематическая экскурсия
        </label>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Роспопожение:</b></div>
    <div class="col-sm-5" style="background-color:white;">
      <div class="form-group select-caret">
        <select class="form-control col-md-12">
          <option>Россия</option>
          <option>Россия</option>
          <option>Россия</option>
          <option>Россия</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Способ передвижение:</b></div>
    <div class="col-sm-5" style="background-color:white;">
      <div class="form-group select-caret">
        <select class="form-control col-md-12">
          <option>Автомобиль</option>
          <option>Автомобиль</option>
          <option>Автомобиль</option>
          <option>Автомобиль</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Город:</b></div>
    <div class="col-sm-5" style="background-color:white;">
      <div class="form-group select-caret">
        <select class="form-control col-md-12">
          <option>Москва</option>
          <option>Москва</option>
          <option>Москва</option>
          <option>Москва</option>
          <option>Москва</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Локация:</b></div>
    <div class="col-sm-5" style="background-color:white;">
      <div class="form-group select-caret">
        <select class="form-control col-md-12">
          <option>Кремль</option>
          <option>Кремль</option>
          <option>Кремль</option>
          <option>Кремль</option>
          <option>Кремль</option>
          <option>Кремль</option>
        </select>
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-center flex-wrap mt-4">
    <div class="container">
      <div class="row">

        <div class="col-sm-4" style="background-color:white;"><b>Теги:</b></div>
        <div class="col-sm-8">
          <div class="btn-group-toggle" ngbRadioGroup name="radioBasic">
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2 active">
              <input ngbButton type="checkbox" value="ru" > Русский
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> Тематическая
              экскурсия
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> Виды на город
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> Экскурсия
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> История
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> Искусствоведение
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> Литература
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> Религия
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> Спорт
            </label>
            <label ngbButtonLabel class="btn btn btn-outline-bordered p-3 mr-1 mb-2">
              <input ngbButton type="checkbox" value="en"> Фотография
            </label>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex  flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Главный фото:</b><span style="color: red">&nbsp;*</span>
      <p class="text-grey mt-2">(Поддерживается фото в форматах JPG, PNG), разрешение не более 1200 x 630 px, размером не более 1 Гб</p>
    </div>
    <div class="col-sm-8" >
      <form id="zdrop" class="fileuploader center-align col-sm-8">
        <div class="upload-label" style="width: 200px;">
          <i class="fotoIc material-icons">camera_alt</i>
        </div>
        <p class="hint"> Вы можете перетащить фото сюда</p>
        <p class="hint"> или</p>
        <div class="col text-center">
          <input type="button" class="btn btn-white col-sm-6 form-control" value="ВЫБЕРИТЕ ФАЙЛ">
        </div>
      </form>
    </div>
  </div>

  <div class="row d-flex  flex-wrap mt-4">
    <div class="col-sm-4" ><b>Фотография:</b>
      <p class="text-grey mt-2">(Поддерживается фото в форматах JPG, PNG), разрешение не более 1200 x 630 px, размером не более 1 Гб</p>
    </div>
    <div class="col-sm-8" >
      <form id="zdrop2" class="fileuploader center-align col-sm-8">
        <div class="upload-label" style="width: 200px;">
          <i class="fotoIc material-icons">camera_alt</i>
        </div>
        <p class="hint"> Вы можете перетащить фото сюда</p>
        <p class="hint"> или</p>
        <div class="col text-center">
          <input type="button" class="btn btn-white col-sm-6 form-control" value="ВЫБЕРИТЕ ФАЙЛ">
        </div>
      </form>
    </div>
  </div>

  <div class="row d-flex  flex-wrap mt-4">
    <div class="col-sm-4" style="background-color:white;"><b>Видео:</b>
      <p class="text-grey mt-2">(Поддерживается видео в форматах AVI, MP4, MPEG, MOV, MKV), разрешение не более 1080 px, размером не более 1 Гб</p>
    </div>
    <div class="col-sm-8" >
      <form id="zdrop-3" class="fileuploader center-align col-sm-8">
        <div class="upload-label" style="width: 200px;">
          <i class="fotoIc material-icons">videocam</i>
        </div>
        <p class="hint"> Вы можете перетащить видео сюда</p>
        <p class="hint"> или</p>
        <div class="col text-center">
          <input type="button" class="btn btn-white col-sm-6 form-control" value="ВЫБЕРИТЕ ФАЙЛ">
        </div>
      </form>
    </div>
  </div>
  <div class="row d-flex  flex-wrap mt-5">
    <div class="col-sm-4" style="background-color:white;"><b>Картографическая информация марштуие:</b><p></p></div>
    <div class="col-sm-8" >
      <iframe class="ya-map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A2e51b69f58beae86577ba7a4bb2759e72438b7302a2b81d035ee9c55d9cd573e&amp;source=constructor" frameborder="0"></iframe>
    </div>
  </div>
</div>

