.paymentDiv{
  border:1px solid #cfcfcf;
  width:100%;
  border-radius:10px;
  box-sizing: border-box;
}
.paymentAddDiv{
  border:1px solid #53bcb2;
  width:100%;
  border-radius:10px;
  box-sizing: border-box;
  padding:57px 0 57px 0
}
.paymentAddDiv a{
  color: rgba(16,142,129, 0.8);
  line-height: 40px
}
.creditCard{
  margin-top:-30px
}
.paymentDiv .boldP{
  font-weight: bold;
  color: #203647
}
.paymentDiv .nameP{
  color: #3c4c59
}
.closeSVG,
.addSVG{
  cursor: pointer;
}
.paymentAddDiv a:hover{
  color: rgba(16,142,129, 1);
  text-decoration-line: underline;
}
@media only screen and (max-width: 991px) {
  .paymentAddDiv{
    padding:69px 0 69px 0}
}
@media only screen and (max-width: 767px) {
  .paymentAddDiv{
    padding:57px 0 57px 0;
    margin: 8px 0 10px 0;
    width: 80%}
  .paymentDiv{
    margin-top: 8px;
    width: 80%
  }
}
@media only screen and (max-width: 441px){
  .paymentAddDiv,
  .paymentDiv{
    width: 100%
  }
}
