.paymentDiv{
  border:1px solid #cfcfcf;
  width:100%;
  border-radius:15px;
  box-sizing: border-box;
  height: 210px;
  display: block;
}
.paymentAddDiv{
  border:1px solid #53bcb2;
  margin: auto;
  width:100%;
}
.paymentAddDiv p{
  color: rgba(16,142,129, 0.8);
  line-height: 40px;
  text-decoration-line: underline;
}
.creditCard{
  margin-top:-30px
}
.paymentDiv .boldP{
  font-weight: bold;
  color: #203647
}
.paymentDiv .nameP{
  color: #3c4c59
}
.closeSVG{
  cursor: pointer;
}
.paymentAddDiv:hover p{
  color: rgb(239, 124, 138);
}
.paymentAddDiv:hover .plusIcon{
  transform: rotate(90deg);
  transition: all 0.2s ease;
}
@media only screen and (max-width: 991px) {
  .paymentDiv {
    width: 380px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .paymentDiv{
    margin-top: 8px;
    width: 100%
  }
}
@media only screen and (max-width: 441px){
  .paymentAddDiv,
  .paymentDiv{
    width: 100%
  }
}
