<div class="container">
  <div class="row">
    <div class="breadcrumbs  hidden-sm-down">
      <ul>
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="/blog">Блог</a></li>
      </ul>

    </div>
    <div class="col-md-12 title">
      <h2>БЛОГ</h2>
    </div>
  </div>


<div class="row post-section">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 ">
      <img src="../../assets/img/image.jpg" alt="" class="blog-img">
    </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12">
      <div class="post">
        <h3><a routerLink="/blog-item">Замок Карлштейн</a></h3>
        <p class="date-of-post">14 апреля 2018</p>
        <p class="post-desc">
          <span>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.</span><br ><br>
          <span class="hidden-lg-down">Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</span><br><br>
          <span class="hidden-md-down">Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. </span>
        </p>
        <div class="read-more">
          <a href="">Читать дальше</a>
        </div>
      </div>
    </div>
    </div>



  <div class="row post-section">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
      <img src="../../assets/img/image.jpg" alt="" class="blog-img">
    </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12">
      <div class="post">
        <h3><a routerLink="/blog-item">Замок Карлштейн</a></h3>
        <p class="date-of-post">14 апреля 2018</p>
        <p class="post-desc">
          <span>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.</span><br><br>
          <span class="hidden-lg-down">Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</span><br><br>
          <span class="hidden-md-down">Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. </span>
        </p>
        <div class="read-more">
          <a href="">Читать дальше</a>
        </div>
      </div>
    </div>
    </div>



  <div class="row post-section">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
      <img src="../../assets/img/image.jpg" alt="" class="blog-img">
    </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12">
      <div class="post">
        <h3><a routerLink="/blog-item">Замок Карлштейн</a></h3>
        <p class="date-of-post">14 апреля 2018</p>
        <p class="post-desc">
          <span>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.</span><br><br>
          <span class="hidden-lg-down">Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</span><br><br>
          <span class="hidden-md-down">Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. </span>
        </p>
        <div class="read-more">
          <a href="">Читать дальше</a>
        </div>
      </div>
    </div>
    </div>



  <div class="row post-section">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
      <img src="../../assets/img/image.jpg" alt="" class="blog-img">
    </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12">
      <div class="post">
        <h3><a routerLink="/blog-item">Замок Карлштейн</a></h3>
        <p class="date-of-post">14 апреля 2018</p>
        <p class="post-desc">
          <span>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.</span><br><br>
          <span class="hidden-lg-down">Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</span><br><br>
          <span class="hidden-md-down">Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. </span>
        </p>
        <div class="read-more">
          <a href="">Читать дальше</a>
        </div>
      </div>
    </div>
    </div>



  <div class="row post-section">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
      <img src="../../assets/img/image.jpg" alt="" class="blog-img">
    </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12">
      <div class="post">
        <h3><a routerLink="/blog-item">Замок Карлштейн</a></h3>
        <p class="date-of-post">14 апреля 2018</p>
        <p class="post-desc">
          <span>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.</span><br><br>
          <span class="hidden-lg-down">Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</span><br><br>
          <span class="hidden-md-down">Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. </span>
        </p>
        <div class="read-more">
          <a href="">Читать дальше</a>
        </div>
      </div>
    </div>
    </div>





    <div class="col-sm-12 show-more">
      <button type="button" class="show-more-btn">Показать еще</button>
    </div>
  </div>

