<div class="container">
  <div class="row">
    <div class="breadcrumbs hidden-sm-down">
      <ul>
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="/blog">Блог</a></li>
        <li><a routerLink="/blog-item">Замок Карлштейн</a></li>
      </ul>

    </div>
    <div class="col-md-12 title">
      <h2>Замок Карлштейн</h2>
    </div>

    <div class="col-sm-12"><p class="date-of-post hidden-lg-up">14 апреля 2018</p></div>
    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 img-div">
      <img src="../../assets/img/image.jpg" alt="" class="blog-img">
    </div>
    <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12">
      <div class="post">
        <p class="date-of-post hidden-lg-down">14 апреля 2018</p>
        <p class="post-desc">
          <span><span class="note">Многие думают, что Lorem Ipsum</span>s - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.</span><br><br>
          <span>Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de <a
            href="">Finibus Bonorum et Malorum</a> Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</span><br><br>
          <span>Ричард МакКлинток, профессор латыни из колледжа <a href="">Hampden-Sydney</a>, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.
            Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.            Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</span>
        </p>
      </div>
    </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12 turists-info">
      <h6>Туристы могут подняться (нумерованный список)</h6>
      <ol>
        <li>К величественному пятиэтажному императорскому дворцу</li>
        <li>К башне Мариан</li>
      </ol>
      <p class="post-desc">В верхной точке мысе возвышается внушительная 60-метровая Великая башня</p>
      <h6>Любопытно полюбоваться (маркированный список)</h6>
      <ul>
        <li>К величественному пятиэтажному императорскому дворцу</li>
        <li>К башне Мариан</li>
        <li>К башне Мариан</li>
        <li>К башне Мариан</li>
      </ul>
    </div>

    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 ">
      <figure class="hidden-lg-down">
        <img src="../../assets/img/car.jpg" alt="" class="blog-img">
        <figcaption>Подпись под фото</figcaption>
      </figure>
    </div>

    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
      <p>Все поезда на Карлштейн уходят с главного паржского вокзала, Хлавни надражи, но при этом в обязательном порядке
        останавливаются на столичном вокзале Стихов, та что садится можно и там.</p>

      <div class="important-note">
        <p>Поезд -самый удобный вариант для поездки в Замок.Автобусное сообщение с Прагой налажено не очень хорошо,
          рейсы не частi и идут до деревни Маринa, что в 2 км от Карлштейна.(важное )</p>
      </div>
      <p>Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь
        из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum
        выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 place-table">
        <table>
          <tr>
            <th>Название</th>
            <th>Ростаяние</th>
          </tr>
          <tr>
            <td>Замок Карлштейн</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Музей искусств</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>Вестминстер</td>
            <td>3000</td>
          </tr>
        </table>
      </div>
      <figure class="hidden-lg-up">
        <img src="../../assets/img/car.jpg" alt="" class="blog-img">
        <figcaption>Подпись под фото</figcaption>
      </figure>
    </div>

  </div>


</div>

