.navbar {
  background-color: white !important;
  padding-left: 60px;
  padding-right: 60px;
}
.navbar-nav.small-navbar {
  margin-top: 15px;
}
.navbar .navbar-nav .nav-link {
  padding: 15px;
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(34, 32, 33);
  line-height: 1.667;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgb(244, 125, 137);
}

.navbar-dark .navbar-toggler {
  border-width: 1px;
  border-color: rgb(224, 224, 224);
  border-style: solid;
  width: 48px;
  height: 48px;
  z-index: 432;
}



.search-icon{
  width: 2.8em;
  height: 2.8em;
  vertical-align: middle;
  right: 80px !important;
  color:#53bcb2
}

#navbar i{
  font-size: 27px;
}
.navbar.small-navbar{

  -webkit-box-shadow: 3px 5px 6px #f0f0f0;
  -moz-box-shadow:     3px 5px 6px #f0f0f0;
  box-shadow:          3px 5px 6px #f0f0f0;
}

.searching-bar{
  margin-top:7px !important;

}

.logo {
  padding: 5px;
  text-align: center;
  width: 120px!important;
}

.logo img {
  width: 100%;
}

label {
  position: absolute;
  padding: 9px;
  color: #bdbdbd;
  z-index: 53 !important;
}

 .input-group {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  margin-left: -1px;
}

 .input-group input {
  padding-left: 50px;
  font-size: 9pt;
  font-family: "Roboto";
  color: rgb(117, 117, 117);
  line-height: 2.4;
  border-radius: 0px;
  border-color: #d9d9d9;
}


.btn-blue {
  background-color: #53bcb2;
  border: none;
  line-height: 2.3;
  font-size: 10pt;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  width: 180px;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #4aa89f !important;
  box-shadow: 0 0 0 0.2rem rgba(88, 188, 179, 0.5);
}

.btn-blue:focus,
.btn-blue:active {
  box-shadow: 0 0 0 0.2rem rgba(88, 188, 179, 0.5);
  background-color: #3b857e !important;
}





@media (min-width: 1200px) and (max-width: 1300px) {

}

@media (max-width: 767px){
  .navbar-toggler {
    padding: 0.75rem !important;
    top: 0.5rem;
  }
  .navbar {
    margin-top: 0px;
    padding: 15px;
  }
}


@media (max-width: 576px) {

}

@media (max-width: 375px) {

}
