<div class="edit-modal container" id="change-event">
  <button class="close" mat-dialog-close [disabled]="false" mat-button></button>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Удалить провидение</h4>
    </div>
  </div>
  <div class="row mb-0 mt-2 mt-2-xs ">
    <p class="m-auto">Вы действительно хотите удалить эту проведение</p>
    <div class="input-group mt-4">
      <div class="col-12 col-xs-12 text-center">
        <button class="btn btn-success btn-pink" type="button">Удалить провидение</button>
      </div>
    </div>
  </div>
</div>

