<div class="container">
  <div class="row">
    <div class="breadcrumbs hidden-sm-down" >
      <ul>
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="#">FAQ</a></li>
      </ul>

    </div>
    <div class="col-md-12 title">
      <h2>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
    </div>
    <div class="col-md-12">
    <mat-accordion *ngFor="let info of infoObject">
    <mat-expansion-panel>
      <mat-expansion-panel-header (click)="info.isopen = showHideMessage(info.isopen)">
        <p class="faq-title showhide" [ngClass]="{'mat_content_close': info.isopen}"><span>{{info.title}}</span></p>
      </mat-expansion-panel-header>

      <p class="faq-answer">{{info.description}}</p>


    </mat-expansion-panel>
      </mat-accordion>
    </div>
    </div>




    <div class="col-sm-12 show-more">
      <button type="button" class="show-more-btn">Показать еще</button>
    </div>
  </div>


