
<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
</head>
<body>

<div class="container" >
  <div class="row">
    <div class="breadcrumbs hidden-sm-down" >
      <ul>
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="#">FAQ</a></li>
      </ul>

    </div>
    <div class="divv"  class="col-md-12 title">
      <h2 >ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
    </div>
    <div class="col-md-12">
      <div *ngFor="let info of infoObject;let i = index">
        <div>
          <div class="tile"   (click)=" showHideMessage($event.target.id)">
            <p   class="faq-title showhide"  ><span id="{{i}}">{{info.title}}</span></p>
          </div>
          <div  class="answer">
          <span id="faqAnswer{{i}}"  (click)="f(this)" style="display: none" >{{info.description}} </span>
          </div>

        </div>
      </div>
    </div>
  </div>




  <div class="col-sm-12 show-more">
    <button  type="button" class="show-more-btn">Показать еще</button>
  </div>

</div>



</body>
</html>


