<div class="container-fluid mt-5">
  <div class="row">
    <div class="breadcrumbs  hidden-sm-down">
      <ul>
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="/guide">Иванов Иван Иванович</a></li>
      </ul>

    </div>
    <div class="col-md-12 mb-5">
      <h2>Иванов Иван Иванович <span class="titleButton">НЕ УДВЕЖДАНО</span></h2>
    </div>
  </div>


</div>
<div class="container">
  <div class="row ">

    <div class="col-md-4">
      <div class="card profilImg d-flex flex-wrap mt-0">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKg5zXriU7pKm1Q2jI0RW4Cmmqbwa1JCrFQAkVU1vM0_tSTUWesw" alt="Avatar" style="width:100%">
      </div>
      <button class="btn col-sm-12 text-center prof mt-4 text-center bdr-0">
        РЕДАКТИРОВАТЬ ПРОФИЛЬ
      </button>
    </div>

    <div class="col-md-8 d-flex flex-wrap mt-10">

      <div class="card">
        <div class="card-header "><b>Личный информация</b></div>
        <div class="card-body">

          <div class="row d-flex align-items-center flex-wrap mt-0">
            <div class="col-sm-4"><b>Дата рождения:</b></div>
            <div class="col-sm-8">20 февраля 1988 года</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Пол: </b></div>
            <div class="col-sm-8">Mужской</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>E-mail:</b></div>
            <div class="col-sm-8">krutoiGit@gmail.com</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Номер телефона</b></div>
            <div class="col-sm-8">8 (538) 284 48 48 </div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Страна</b></div>
            <div class="col-sm-8">20 февраля 1988 года</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Город:</b></div>
            <div class="col-sm-8">Mужской</div>
          </div>

          <div class="row d-flex flex-wrap mt-2">
            <div class="col-sm-4"><b>О себе</b></div>
            <div class="col-sm-8">
              С другой стороны новая модель органиаационной деятелностьи представляет совой интересны эксперимент
              проверки соответсвющий условий активации.Разнообразый и  богатый
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="d col-sm-12">
    </div>


    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"><b>Образование и  опыт</b></div>
        <div class="card-body">


          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Языки мероприятий:</b></div>
            <div class="col-sm-8">Русский, английский</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Опыт  проведияения мероприятий:</b></div>
            <div class="col-sm-8">5 лет</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Образование:</b></div>
            <div class="col-sm-8">Высшее</div>
          </div>

          <div class="row d-flex flex-wrap mt-2">
            <div class="col-sm-4"><b> Документи  об образование:</b></div>
            <div class="col-sm-8">
              Диплом о высшем образовании,Школний атестат,Сертификат университета
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d col-sm-12">
    </div>


    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"><b>Поспорт</b></div>
        <div class="card-body">

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-6"><div class="col-sm-12">
                <img  class="foto" src="http://m.ngzt.ru/userfiles/picitem/img-20161122211923-780.jpg" >
            </div></div>
            <div class="col-sm-6">
              <div class=" col-sm-12">
                <img  class="foto" src="https://cs9.pikabu.ru/post_img/big/2016/09/21/7/1474456259184250295.jpg" >
            </div>
            </div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Серия и номер паспорта:</b></div>
            <div class="col-sm-8">158964237</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Дата выдочи:</b></div>
            <div class="col-sm-8">5 октября 1976 года</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Город выдочи</b></div>
            <div class="col-sm-8">Москва</div>
          </div>

          <div class="row d-flex align-items-center flex-wrap mt-2">
            <div class="col-sm-4"><b>Кем выдан:</b></div>
            <div class="col-sm-8">МОРК</div>
          </div>


      </div>
    </div>
    <div class="d col-sm-12">
    </div>


    <div class="col-md-4"></div>
    <div class="card" style="width: 100%">
      <div class="card-header "><b>Раквизиты и  ИНН: </b></div>
      <div class="card-body">


        <div class="row d-flex align-items-center flex-wrap mt-2">
          <div class="col-sm-4"><b>Раквизиты:</b></div>
          <div class="col-sm-8">456784916122</div>
        </div>

        <div class="row d-flex align-items-center flex-wrap mt-2">
          <div class="col-sm-4"><b>ИНН:</b></div>
          <div class="col-sm-8">465456456545</div>
        </div>

      </div>
    </div>
    </div>

  </div>
</div>
