<div class="edit-modal container">
  <button class="close" mat-dialog-close [disabled]="false" mat-button></button>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Добавить проведение</h4>
    </div>
  </div>

  <div class="row">
    <div class="input-group col-lg-12 col-md-12 col-6 mr-4">
      <div class="col-lg-12">
        <span class="pull-left pt-3 pb-2"><b>Название мероприятия:</b></span>
      </div>

      <select class="form-control btn btn-outline-primary gray col-lg-12 col-md-12" id="sel1"
              *ngFor="let event of events;">
        <option *ngFor="let slide of event.slide;">{{ slide.title }}</option>
      </select>

    </div>
  </div>

  <div class="row mt-3">
    <div class="input-group col-lg-8 col-md-6 col-6 mr-4">
      <div class="col-lg-12">
        <span class="pull-left pb-2"><b>Дата:</b></span>
      </div>

      <input type="text" class="form-control" id="inp2" placeholder="{{today | date:'dd MMMM yyyy'}}"
             aria-describedby="basic-addon2" [displayMonths]="displayMonths" [navigation]="navigation"
             [showWeekNumbers]="showWeekNumbers" ngbDatepicker #d="ngbDatepicker">
      <label for="inp2"><i class="material-icons" (click)="d.toggle()">date_range</i></label>
    </div>

    <div class="input-group col-lg-3 col-md-4 col-6">
      <div class="row">
        <div class="col-lg-12">
          <span class="pull-left pb-2"><b>Время:</b></span>
        </div>

        <div class="col-lg-6 col-md-6">
          <select class="form-control btn btn-outline-primary gray col-lg-12 col-md-12" id="sel2">
            <option>00</option>
            <option>01</option>
            <option>02</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6">
          <select class="form-control btn btn-outline-primary gray" id="sel3">
            <option>00</option>
            <option>01</option>
            <option>02</option>
          </select>
        </div>
      </div>

      <!--  <div ngbDropdown class="d-inline-block mr-2" #filterItem="ngbDropdown">
            <button class="btn btn-outline-primary green" id="ftr2" ngbDropdownToggle>Тематика</button>
            <div ngbDropdownMenu aria-labelledby="ftr1" class="w-500">
                <div class="col-12 mb-2">
                    <mat-checkbox>Короткая(до 3 часов)</mat-checkbox>
                </div>
                <div class="col-12 mb-2">
                    <mat-checkbox>Средняя(3-10 часов)</mat-checkbox>
                </div>
                <div class="col-12 mb-2">
                    <mat-checkbox>Длинная(более 10 часов)</mat-checkbox>
                </div>
            </div>
        </div>-->
    </div>
  </div>


  <div class="col-lg-12 text-center">
    <button class="btn btn-success btn-blue  mt-4" type="button">Добавить</button>
  </div>

</div>