<div class="container-fluid">
  <div class="row">
    <div class="breadcrumbs  hidden-sm-down mt-2">
      <ul class="mb-0">
        <li><a routerLink="/">Главная</a></li>
        <li><a >О компании</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col mt-lg-5 mt-md-5">
      <h2>О компании</h2>
    </div>
  </div>

  <div class="row mt-4">

    <article>
      <figure class="l left">
        <img src="../../assets/img/about-1.png">
      </figure>
      <p><b>Всего в 30 км от Праги иатдится сказочгый замок Кашпптейи</b> - сокровищница и летняя
        резиденция Карла ш. Единственная возможность побродить по <a href="">средневековой крепости</a> и
        королевским локоям - в составе экскурсии. Зато с гидом вы не пропустите любопытные закоулки замка. Если
        собираетесь везти домой сувениры из <a href="">Чехии</a> лучше покупайте их в Карлштейне, а не в
        <a href="">Праге</a>‚ где цены могут быть вдвое выше.</p>

      <p>Высокий замок в готическом стиле, заложенный в 1348 г., занимает особое место среди других чешских
        замков. Он был построен чешским королем и римским императором Карлом ну для хранения своих
        королевских сокровищ особенно коллекции Карла священных реликвий и сокровищ Римской империи. строительство замка завершилось в 1365 г.</p>

      <p>После начала Гусиюких войн замок стал местом хранения коронационных сокровищ чехии. которые всегда
        хранились здесь. за исключением нескольких перерывов протяженностью почти 200 лет.</p>

      <p>После 1480 года замок был реконструирован в стиле поздней готики, а в последней четверти 16-ого века - в стиле ренессанса. Современный вид замка - это результат последней
        реконструкции, которая проводилась в конце 19-ого века.</p>
      <br>

      <figure class="r right"><img src="../../assets/img/about-2.png">
        <figcaption>подпись под фото</figcaption>
      </figure>
      <p>От Колодезной башни и дворца Бурграв, расположенных в самой нижней точке,</p>

      <div class="desc">
        <b>Туристы могут подняться</b>
        <ol>
          <li><span>К величественному пятиэтажному императорскому дворцу</span></li>
          <li><span>К башне Мариан.</span></li>
        </ol>
        <p>В верхней точке мыса возвышается внушительная бсъметровая Великая башня с собственным укреплением.</p>

        <p><b>Любопытно полюбоваться на</b></p>
        <ul>
          <li><span>Оригинальные рисунки на стенах, которые относятся к 14 веку</span></li>
          <li><span>Коллекцию из 129 панелей, раскрашенных Мастером Теодориком в Церкви Святого Креста (крупнейшая в мире в своем роде),</span></li>
          <li><span>Пройтись по огромной портретной галереи чешских правителей,</span></li>
          <li><span>А также увидеть копию короны святого Вацлава - коронационную корону чешских королей.</span></li>
        </ul>
      </div>

      <p>Все поезда на Карлштейн уходят С Главного пражского вокзала, Hlavni nadrazi, но при ЭТОМ в обязательном порядке останавливаются на СТОЛИЧНОМ вокзале Смихов (Smichovske
        nadrazi), так что садиться можно и там.</p>

      <h5 class="highlight">Поезд - самый удобный вариант поездки в замок. Автобусное сообщение с Прагой налажено не слишком хорошо, рейсы не часты и
        идут до деревни Морина, что в 2 км от Карлштейна.(важное)</h5>

      <p class="my-4">Можно присоединиться к экскурсионному автобусу в Праге, но ето будет значительно дороже, нежели поездка на местной электричке, а комфорта не прибавит- Все дело в том, что
        автобусы и автомобили положено оставлть на парковке в центре города, в 2км от крепости И дальше подниматься к ней своим ходом. Ну, или нанять конный экипаж (они здесь
        вместо такси) - в конце концов, дорога-то королевская, а короли пешком в замки не ходят.</p>
      <div class="row">
        <div class="col-4 col-xs-12">
          <table class="table">
            <thead>
            <tr>
              <th>название</th>
              <th>расстояние</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Замок Карлштейн</td>
              <td>1000 км.</td>
            </tr>
            <tr>
              <td>Музей искусств</td>
              <td>2000 км.</td>
            </tr>
            <tr>
              <td>Вестминстер</td>
              <td>3000 км.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</div>
